[core]
  excludesfile = ~/.gitignore
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  a = add
  b = branch
  co = checkout
  di = diff
  l = log --oneline -5
[help]
  autocorrect = 1
[push]
  default = current
[user]
  name = kotaro0522
  email = gemini.522.kotaro@gmail.com
