[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
	st = status
	co = commit
	ad = add
	br = branch
	di = diff
	lo = log --oneline -5
[help]
	autocorrect = 1
[push]
	default = current
[user]
	name = kotaro0522
	email = gemini.522.kotaro@gmail.com
